@import '@styles/mixin';

.headerwrapper {
  margin: 0 auto 3rem;
  @include center-xy;

  & a {
    display: inline-block;
    @include flex-horizontal(1rem);
    align-items: flex-end;

    .logoCover {
      @include center-xy(0);
      position: relative;
      display: block;
      flex-shrink: 0;

      & img {
        object-fit: contain;
      }
    }

    & h1 {
      font-size: 3rem;
      color: var(--color-primary);
    }
  }
}

.homeWrapper {
  @include flex-vertical(3rem);
  width: 100%;
  align-items: center;
  justify-content: center;

  .searchWrapper {
    width: 100%;
    @include center-xy(1rem);
    justify-content: center;

    & input {
      max-width: 50rem;
      width: 100%;
    }

    & button {
      display: block;
      width: 6rem;
      height: 4.4rem;
      background-color: var(--color-primary);
      border-radius: 1.4rem;
      @include center-xy(0rem);
      transition: all 0.2s;

      &:hover {
        background-color: rgb(135, 162, 90);
      }
    }
  }

  .bookList {
    @include center-xy(2rem);
    flex-wrap: wrap;

    & li {
      @include flex-vertical(1rem);
      width: calc((1200 - 40 - 4 * 20) / 5);
      min-height: 38rem;

      .bookCover {
        position: relative;
        @include center-xy;
        width: 100%;
        aspect-ratio: 216 / 267;
        flex-shrink: 0;
      }

      & h2 {
        font-size: 1.6rem;
      }

      & p {
        & span {
          font-weight: 700;
        }
      }
    }
  }
}

//pagination

// Pagination
.pagination {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: var(--color-black);

  .selected {
    box-shadow: 0 0.2rem 0 0 var(--color-primary);
    color: var(--color-primary);
    font-weight: var(--font-semibold);
  }
}
