:root {
  /* colors */
  --color-primary: #20604f;
  --color-primary-disabled: rgba(32, 96, 79, 0.5);
  --color-secondary-light: #fffdf6;
  --color-secondary-dark: #f7f4e9;

  --color-black: #222222;
  --color-white: #ffffff;
  --color-error: #eb5757;

  --color-gray-10: #828282;
  --color-gray-30: #aaaaaa;
  --color-gray-50: #dddddd;
}
